.TopSA{
	width: 1215px;
	height: 108px;
	margin:0px auto;
	font-family:'myfontB';
	border-bottom: 1px solid #ccc;
}
a{color: #888}
a:hover{color: rgb(255,0,52);}
.ul_inline>li{position:relative;float: left;list-style: none;margin-left: 10px;margin-right: 10px;}
.ul_inline>li:nth-child(1){margin-left: 0px;}
.DH li:after{
	content:'';
	position:absolute;
	top:12px;
	right:-12px;
	width:.5px;
	height:15px;
	background:linear-gradient(to bottom, #999,#999,#999);
}
/*删除第一项和最后一项导航分隔线*/
.DH li:last-child:after,.TopIB li:first-child:after{background:none;}
.TopSA img{width: 100%;height: 100%;}
.TopSA .TopSA_d1{
	width: 190px;height: 28px;margin:28px;float: left;
}
.TopSA .TopSA_d2{
	float: left;margin: 28px;width: 540px;height:36px;
	background-color: rgb(255,0,52);
}
.TopSA .TopSA_d2>input[type='text']{
	outline: none;text-indent: 8px;border:4px solid rgb(255,0,52);
	width: 440px;height: 28px;color: #888;font-size: 14px;
}
.TopSA .TopSA_d2>button{
	border:0px;width: 88px;height: 30px;background-color: rgb(255,0,52);
	color: #fff;font-size: 16px;cursor:pointer;vertical-align: middle;
}
.GrayA a{display: inline-block;margin:10px;font-size: 13px;color: #999}
.GrayA a:hover{color: rgb(255,0,52);}
.TopSA .TopSA_d3{
	float: right;width: 190px;height: 80px;
}
.TopSB{
	width: 1215px;
	height: 206px;
	margin:0px auto;
	font-family:'myfontC';
}
.TopSB_d1{
	width: 100%;height: 36px;
}
.TopSB_d1 button{
	height: 14px;width:15px;margin-top:2px;background-image:url(../img/T186tKFDR_XXaYpYLe-35-30.png);
background-position: 0px 0px;border:0px;outline: none;cursor: pointer;vertical-align: middle;
}
.GrayP{display: inline-block;margin:10px;font-size: 13px;color: #999}
.GrayP span{font-weight: bold}
.even{display: inline-block;}
.Left{float: left;}
.Right{float: right;}
.TopSB_d2{
	width: 100%;height: 106px;
}
.TopSB_d2A{
	width: 1211px;height: 70px;border:2px solid rgb(209,204,199);
}
.TopSB_d2A_d1{
	margin-top: 1px;width: 100px;height: 68px;background-color: rgb(247,245,245);float: left;
}
.TopSB_d2A_d2{
	width: 1000px;height: 68px;float: left;
}
.TopSB_d2A_d2>ul>li{
	width: 100px;height: 34px;text-align: center;line-height: 34px;
}
.TopSB_d2A_d2>ul>li:first-child{margin-left: 10px;}
.TopSB_d2A_d2>ul>li>a{font-size: 13px;}
.TopSB_d2A_d3{
	margin-top: 1px;width: 111px;height: 68px;float: right;
}
.TopSB_d2A_d3>div:nth-child(1){
	cursor: pointer;
	width: 42px;height: 16px;background-color: #ede;margin:10px;display: inline-block;
}
.TopSB_d2A_d3>div:nth-child(1)>i{
	width:10px;height: 10px;display: inline-block;margin:2px;vertical-align: middle;
	background-image: url(../img/TB1Hm3sRXXXXXaRXVXXXXXXXXXX-165-206.png);
	background-position: -32px -12px; 
}
.TopSB_d2A_d3>a::after{
	font-family: 'myfontB';
	content:'\E60A';
}
.TopSB_d2B{
	width: 1213px;height: 35px;border:1px solid rgb(209,204,199);
}
.TopSB_d2B_d1{
	width: 101px;height: 35px;background-color: rgb(247,245,245);float: left;
}
.TopSB_d2B_d2{
	width: 1000px;height: 35px;float: left;
}
.TopSB_d2B_d2>ul>li{
	width: 100px;height: 34px;text-align: center;line-height: 34px;
}
.TopSB_d2B_d2>ul>li:first-child{margin-left: 10px;}
.TopSB_d2B_d2>ul>li>a{font-size: 13px;}
.TopSB_d2B_d3{
	width: 112px;height: 35px;float: right;
}
.TopSB_d2B_d3>a{float: right;margin-right: 12px;}
.TopSB_d2B_d3>a::after{
	font-family: 'myfontB';
	content:'\E60A';
}
.TopSB_d3{
	width: 100%;height: 30px;margin-top:20px;margin-bottom:20px;background-color: rgb(250,249,249);
}
.f-ico-arrow-d{
	width:9px;height: 12px;display: inline-block;margin:2px;vertical-align: middle;
	background-image: url(../img/TB1Hm3sRXXXXXaRXVXXXXXXXXXX-165-206.png);
	background-position: -21px -22px; 
}
.TopSB_d3A{float: left;line-height: 30px;margin-left: 5px;}
.TopSB_d3A>a{
	display: inline-block;width: 46px;height: 21px;border: 1px solid #ddd;
	text-align: center;background-color: #fff;line-height: 21px;margin-right: -5px;
}
.TopSB_d3B{
	float: left;margin-left: 10px;margin-top: 4px;position: relative;
	height: 21px;width: 120px;border:1px solid #ddd;
}
.TopSB_d3B>s{
	text-decoration: none;display: inline-block;width: 50%;height: 100%;
	text-align: center;line-height: 21px;color: #999;float: left;
}
.TopSB_d3B>b{
	font-weight: normal;display: inline-block;width: 50%;height: 100%;color: #666;
	text-align: center;line-height: 21px;background-color: #fff;float: left;
}
.TopSB_d3B>i{
	position: absolute;display: inline-block;bottom: 2px;right: 2px;
	border:4px dashed transparent;border-right:4px solid #666;border-bottom:4px solid #666;
}
.TopSB_d3C{
	float: left;margin-left: 10px;margin-top: 4px;position: relative;
	height: 21px;width:98px;border:1px solid #ddd;
}
.TopSB_d3C>div:nth-child(1){
	float: left;height: 100%;width: 43px;background-color: #fff;
}
.TopSB_d3C>div:nth-child(3){
	float: right;height: 100%;width: 43px;background-color: #fff;
}
.TopSB_d3C>i{
	display: inline-block;font-size: 18px;line-height: 21px;float: left;
	height: 100%;width: 6px;color: #bbb;
}
.TopSB_d3D{
	float: left;margin-left: 10px;margin-top: 4px;position: relative;overflow: hidden;
	height: 21px;width: 220px;border:1px solid #ddd;background-color: #fff;z-index: 2;
}
.TopSB_d3D_d1{
	width: 170px;height: 100%;display: inline-block;
}
.TopSB_d3D>a{display: inline-block;width: 50px;height: 100%;position: absolute;
	top: 0px;right: 0px;text-align: center;line-height: 21px;
}
.TopSB_d3D>a::after{
	font-family: 'myfontB';
	content:'\E60A';
}
.TopSB_d3D_d1>span{
	display: inline-block;margin:3px;
}
.TopSB_d3D_d1>span>input{vertical-align: middle;}
.TopSB_d3E{
	float: left;margin-left: 10px;margin-top: 4px;line-height: 21px;
	height: 21px;width: 120px;background-color: #fff;
}
.TopSB_d3E>a{
	display: inline-block;width: 40px;height: 100%;border:1px solid #ddd;
	margin-right: -5px;text-align: center;line-height: 21px;
}
.TopSB_d3F{
	width: 86px;height: 21px;line-height: 21px;float: right;margin-top: 4px;
}
.TopSB_d3F>b{
	display: inline-block;width: 16px;height: 19px;border:1px solid #ddd;
	text-align: center;line-height: 19px;font-size: 14px;color: #444;
}
.TopSB_d3F>a{
	display: inline-block;width: 16px;height: 19px;border:1px solid #ddd;
	background-color: #fff;text-align: center;line-height: 19px;font-size: 14px;color: #444;
}

.bodySA{
	width: 100%;height: 1200px;
}
.bodySA_d1{
	width: 1215px;height: 90%;margin:0px auto;
}
.commodity{
	float: left;transition: all .1s ease-in 0s;border:1px solid #eee;
	width: 229px;height: 332px;margin-right: 15px;margin-bottom: 15px;
}
.commodity:nth-child(5n){margin-right: 0px;}
.commodity:hover{box-shadow: 0 0 1px 2px rgb(255,0,52)}
.commodity>div{
	width:219px;height: 220px;margin:5px;
}
.commodity>div img{width: 100%;height: 100%;}
.commodity>p:nth-child(2){
	width: 100%;height: 26px;font-size: 18px;color: rgb(255,0,52);
}
.commodity>p:nth-child(3){
	width: 100%;height: 20px;overflow: hidden;
}
.commodity>p:nth-child(3)>a{font-size: 13px;line-height: 20px;}
.commodity>p:nth-child(4){
	width: 100%;height: 18px;overflow: hidden;
}
.commodity>p:nth-child(4)>a{font-size: 12px;line-height: 18px;text-decoration: underline;color: #aaa}
.commodity>p:nth-child(4)>a:hover{color: rgb(2550,0,52);}
.commodity>p:nth-child(5){position: relative;width: 100%;height: 36px;}
.commodity>p:nth-child(5)>span{
	font-size: 13px;color: #999;text-align: center;line-height: 36px;
}
.commodity>p:nth-child(5)>span:nth-child(1){
	display: inline-block;float: left;width: 40%;height: 36px;
	overflow: hidden;
}
.commodity>p:nth-child(5)>span:nth-child(1)>em{color: rgb(181,124,128);font-weight: bold;}
.commodity>p:nth-child(5)>span:nth-child(2){
	display: inline-block;float: left;width: 40%;height: 36px;
	overflow: hidden;
}
.commodity>p:nth-child(5)>span:nth-child(2)>em{color: rgb(51,131,187);font-weight: bold;}
.commodity>p:nth-child(5)>span:nth-child(3){
	display: inline-block;float: left;width: 20%;height: 36px;
	text-align: center;line-height: 36px;overflow: hidden;
}
.commodity>p:nth-child(5)>span:nth-child(3)>a{
	display: inline-block;width: 22px;height: 22px;
	background-image: url(../img/T15AD7FFFaXXbJnvQ_-130-60.gif);
	background-position: -80px 0;margin-top: 7px;
}
.bodySA_d2{
	width: 1215px;height: 10%;margin:0px auto;text-align: center;line-height: 100px;
}
.below{
	display: inline-block;
	background:url(../img/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png);
	background-repeat: no-repeat;
    background-size: 52px 20px;
    background-position: 10px 10px;
}
.bodySA_d2 b{
	font-weight: normal;width: 36px;height: 40px;line-height: 40px;color: #666;
	text-align: center;background-color: #ddd;display: inline-block;border:1px solid #ddd;
}
#ellipsis{background-color: #fff;border:0px;}
#up,#below{width: 72px;}
.bodySA_d2 a{
	width: 36px;height: 40px;line-height: 40px;color: #666;border:1px solid #ddd;
	text-align: center;background-color: #fff;display: inline-block;
}
.bodySA_d2 a:hover{
	background-color: #ddd;text-decoration: underline;
}